<Ui xsi:schemaLocation="http://www.blizzard.com/wow/ui/..\FrameXML\UI.xsd">
    <Script file="Settings_Definitions.lua"/>
    <Script file="Settings_Font.lua"/>
    <Script file="Settings_Keybinding.lua"/>
    <Script file="Settings_DropdownMenu.lua"/>
    <Script file="Settings.lua"/>

    <Button name="DUIDialogSettingsTabButtonTemplate" mixin="DUIDialogSettingsTabButtonMixin" registerForClicks="LeftButtonUp" virtual="true">
        <Size x="72" y="36"/>
        <Layers>
            <Layer level="OVERLAY">
                <FontString parentKey="Name" inherits="DUIFont_Quest_Quest" justifyH="CENTER" justifyV="MIDDLE">
                    <Anchors>
                        <Anchor point="CENTER" relativeKey="$parent" relativePoint="CENTER" x="0" y="0"/>
                    </Anchors>
                </FontString>
            </Layer>
        </Layers>
        <Scripts>
            <OnEnter method="OnEnter"/>
            <OnLeave method="OnLeave"/>
            <OnClick method="OnClick"/>
            <OnMouseDown method="OnMouseDown"/>
            <OnMouseUp method="OnMouseUp"/>
        </Scripts>
    </Button>

    <Frame name="DUIDialogSettingsTextureFrameTemplate" virtual="true" useParentLevel="true">
        <Size x="16" y="16"/>
        <Layers>
            <Layer level="OVERLAY">
                <Texture parentKey="Texture" setAllPoints="true"/>
            </Layer>
        </Layers>
    </Frame>

    <Button name="DUIDialogSettingsCheckboxTemplate" mixin="DUIDialogSettingsCheckboxMixin" virtual="true">
        <Size x="24" y="24"/>
        <Layers>
            <Layer level="BACKGROUND">
                <Texture parentKey="Background" setAllPoints="true">
                    <!--TextureSliceMode mode="Tiled"/>
                    <TextureSliceMargins left="16" right="16" top="16" bottom="16"/-->
                    <TexCoords left="0.5" right="1" top="0" bottom="0.5"/>
                </Texture>
            </Layer>
            <Layer level="OVERLAY">
                <Texture parentKey="Check">
                    <Size x="12" y="12"/>
                    <TexCoords left="0.0625" right="0.4375" top="0.5625" bottom="0.9375"/>
                    <Anchors>
                        <Anchor point="CENTER"/>
                    </Anchors>
                </Texture>
            </Layer>
        </Layers>
        <Scripts>
            <OnEnter method="OnEnter"/>
            <OnLeave method="OnLeave"/>
            <OnClick method="OnClick"/>
        </Scripts>
    </Button>

    <Frame name="DUIDialogSettingsArrowOptionTemplate" mixin="DUIDialogSettingsArrowOptionMixin" virtual="true">
        <Size x="168" y="24"/>
        <Layers>
            <Layer level="OVERLAY">
                <FontString parentKey="ValueText" inherits="DUIFont_Quest_SubHeader" justifyH="CENTER" justifyV="MIDDLE" text="Value" maxLines="1">
                    <Size x="120"/>
                    <Anchors>
                        <Anchor point="TOP" relativeKey="$parent" relativePoint="TOP" x="0" y="0"/>
                    </Anchors>
                </FontString>
            </Layer>
        </Layers>
        <Frames>
            <Button parentKey="LeftArrow" motionScriptsWhileDisabled="true">
                <Size x="24" y="32"/>
                <Anchors>
                    <Anchor point="LEFT" relativeKey="$parent" relativePoint="LEFT" x="0"/>
                </Anchors>
                <Layers>
                    <Layer level="BACKGROUND">
                        <Texture parentKey="Texture">
                            <Size x="24" y="24"/>
                            <Anchors>
                                <Anchor point="CENTER"/>
                            </Anchors>
                            <TexCoords left="0.5" right="0" top="0" bottom="0.5"/>
                        </Texture>
                    </Layer>
                    <Layer level="HIGHLIGHT">
                        <Texture parentKey="Highlight">
                            <Anchors>
                                <Anchor point="TOPLEFT" relativeKey="$parent.Texture" relativePoint="TOPLEFT"/>
                                <Anchor point="BOTTOMRIGHT" relativeKey="$parent.Texture" relativePoint="BOTTOMRIGHT"/>
                            </Anchors>
                            <TexCoords left="1" right="0.5" top="0" bottom="0.5"/>
                        </Texture>
                    </Layer>
                </Layers>
            </Button>
            <Button parentKey="RightArrow" motionScriptsWhileDisabled="true">
                <Size x="24" y="32"/>
                <Anchors>
                    <Anchor point="RIGHT" relativeKey="$parent" relativePoint="RIGHT" x="0"/>
                </Anchors>
                <Layers>
                    <Layer level="BACKGROUND">
                        <Texture parentKey="Texture">
                            <Size x="24" y="24"/>
                            <Anchors>
                                <Anchor point="CENTER"/>
                            </Anchors>
                            <TexCoords left="0" right="0.5" top="0" bottom="0.5"/>
                        </Texture>
                    </Layer>
                    <Layer level="HIGHLIGHT">
                        <Texture parentKey="Highlight">
                            <Anchors>
                                <Anchor point="TOPLEFT" relativeKey="$parent.Texture" relativePoint="TOPLEFT"/>
                                <Anchor point="BOTTOMRIGHT" relativeKey="$parent.Texture" relativePoint="BOTTOMRIGHT"/>
                            </Anchors>
                            <TexCoords left="0.5" right="1" top="0" bottom="0.5"/>
                        </Texture>
                    </Layer>
                </Layers>
            </Button>
        </Frames>
        <Scripts>
            <OnLoad method="OnLoad"/>
        </Scripts>
    </Frame>

    <Frame name="DUIDropdownMenuTemplate" virtual="true">
        <Size x="256" y="128"/>
        <Layers>
            <Layer level="BACKGROUND" textureSubLevel="4">
                <Texture parentKey="Border">
                    <TextureSliceMode mode="Tiled"/>
                    <TextureSliceMargins left="16" right="16" top="16" bottom="16"/>
                    <TexCoords left="0" right="0.25" top="0" bottom="0.25"/>
                </Texture>
            </Layer>
            <Layer level="BACKGROUND" textureSubLevel="3">
                <Texture parentKey="Background">
                    <Anchors>
                        <Anchor point="TOPLEFT" relativeKey="$parent" relativePoint="TOPLEFT" x="8" y="-8"/>
                        <Anchor point="BOTTOMRIGHT" relativeKey="$parent" relativePoint="BOTTOMRIGHT" x="-8" y="8"/>
                    </Anchors>
                </Texture>
            </Layer>
        </Layers>
        <Frames>
            <Frame parentKey="BottomShadow" useParentLevel="true">
                <Size x="336" y="128"/>
                <Layers>
                    <Layer level="BACKGROUND" textureSubLevel="1">
                        <Texture parentKey="Left">
                            <Size x="32" y="128"/>
                            <Anchors>
                                <Anchor point="TOPLEFT" relativeKey="$parent" relativePoint="TOPLEFT"/>
                                <Anchor point="BOTTOMLEFT" relativeKey="$parent" relativePoint="BOTTOMLEFT"/>
                            </Anchors>
                        </Texture>
                        <Texture parentKey="Right">
                            <Size x="32" y="128"/>
                            <Anchors>
                                <Anchor point="TOPRIGHT" relativeKey="$parent" relativePoint="TOPRIGHT"/>
                                <Anchor point="BOTTOMRIGHT" relativeKey="$parent" relativePoint="BOTTOMRIGHT"/>
                            </Anchors>
                        </Texture>
                        <Texture parentKey="Center">
                            <Anchors>
                                <Anchor point="TOPLEFT" relativeKey="$parent.Left" relativePoint="TOPRIGHT"/>
                                <Anchor point="BOTTOMRIGHT" relativeKey="$parent.Right" relativePoint="BOTTOMLEFT"/>
                            </Anchors>
                        </Texture>
                    </Layer>
                </Layers>
            </Frame>
            <Frame parentKey="ButtonHighlight" hidden="true" useParentLevel="true">
                <Size x="32" y="32"/>
                <Layers>
                    <Layer level="BACKGROUND" textureSubLevel="5">
                        <Texture parentKey="BackTexture" setAllPoints="true">
                            <TextureSliceMode mode="Tiled"/>
                            <TextureSliceMargins left="24" right="24" top="24" bottom="24"/>
                        </Texture>
                    </Layer>
                </Layers>
            </Frame>
            <Frame parentKey="SelectedIcon">
                <Size x="32" y="32"/>
                <Layers>
                    <Layer level="OVERLAY">
                        <Texture parentKey="Texture" setAllPoints="true"/>
                    </Layer>
                </Layers>
            </Frame>
            <Frame parentKey="PageNav" hidden="true">
                <Size y="24"/>
                <Anchors>
                    <Anchor point="BOTTOMLEFT" relativeKey="$parent" relativePoint="BOTTOMLEFT"/>
                    <Anchor point="BOTTOMRIGHT" relativeKey="$parent" relativePoint="BOTTOMRIGHT"/>
                </Anchors>
                <Layers>
                    <Layer level="ARTWORK">
                        <Texture parentKey="Background">
                            <Size x="96" y="24"/>
                            <Anchors>
                                <Anchor point="CENTER"/>
                            </Anchors>
                        </Texture>
                    </Layer>
                    <Layer level="OVERLAY">
                        <FontString parentKey="PageText" inherits="DUIFont_Item" justifyH="CENTER" justifyV="MIDDLE" text="1 / 1">
                            <Anchors>
                                <Anchor point="CENTER" relativeKey="$parent" relativePoint="CENTER" x="0" y="0"/>
                            </Anchors>
                        </FontString>
                    </Layer>
                </Layers>
                <Frames>
                    <Button parentKey="LeftArrow">
                        <KeyValues>
                            <KeyValue key="delta" value="1" type="number"/>
                        </KeyValues>
                        <Size x="18" y="18"/>
                        <Anchors>
                            <Anchor point="CENTER" relativeKey="$parent" relativePoint="CENTER" x="-32"/>
                        </Anchors>
                        <Layers>
                            <Layer level="BACKGROUND">
                                <Texture parentKey="Texture">
                                    <Size x="14" y="14"/>
                                    <Anchors>
                                        <Anchor point="CENTER"/>
                                    </Anchors>
                                    <TexCoords left="0.5" right="0" top="0" bottom="0.5"/>
                                </Texture>
                            </Layer>
                            <Layer level="HIGHLIGHT">
                                <Texture parentKey="Highlight">
                                    <Anchors>
                                        <Anchor point="TOPLEFT" relativeKey="$parent.Texture" relativePoint="TOPLEFT"/>
                                        <Anchor point="BOTTOMRIGHT" relativeKey="$parent.Texture" relativePoint="BOTTOMRIGHT"/>
                                    </Anchors>
                                    <TexCoords left="1" right="0.5" top="0" bottom="0.5"/>
                                </Texture>
                            </Layer>
                        </Layers>
                    </Button>
                    <Button parentKey="RightArrow">
                        <KeyValues>
                            <KeyValue key="delta" value="-1" type="number"/>
                        </KeyValues>
                        <Size x="18" y="18"/>
                        <Anchors>
                            <Anchor point="CENTER" relativeKey="$parent" relativePoint="CENTER" x="32"/>
                        </Anchors>
                        <Layers>
                            <Layer level="BACKGROUND">
                                <Texture parentKey="Texture">
                                    <Size x="14" y="14"/>
                                    <Anchors>
                                        <Anchor point="CENTER"/>
                                    </Anchors>
                                    <TexCoords left="0" right="0.5" top="0" bottom="0.5"/>
                                </Texture>
                            </Layer>
                            <Layer level="HIGHLIGHT">
                                <Texture parentKey="Highlight">
                                    <Anchors>
                                        <Anchor point="TOPLEFT" relativeKey="$parent.Texture" relativePoint="TOPLEFT"/>
                                        <Anchor point="BOTTOMRIGHT" relativeKey="$parent.Texture" relativePoint="BOTTOMRIGHT"/>
                                    </Anchors>
                                    <TexCoords left="0.5" right="1" top="0" bottom="0.5"/>
                                </Texture>
                            </Layer>
                        </Layers>
                    </Button>
                </Frames>
            </Frame>
        </Frames>
    </Frame>

    <Button name="DUIDialogSettingsDropdownButtonTemplate" mixin="DUIDialogSettingsDropdownButtonMixin" virtual="true">
        <Size x="192" y="24"/>
        <HitRectInsets>
            <AbsInset left="0" right="0" top="-4" bottom="-4"/> <!--Extend Y to match ArrowOptionButton-->
        </HitRectInsets>
        <Layers>
            <Layer level="ARTWORK" textureSubLevel="2">
                <Texture parentKey="Background">
                    <TexCoords left="0" right="1" top="0" bottom="0.25"/>
                </Texture>
            </Layer>
            <Layer level="OVERLAY">
                <Texture parentKey="Arrow">
                    <Size x="12" y="12"/>
                    <Anchors>
                        <Anchor point="RIGHT" relativeKey="$parent" relativePoint="RIGHT" x="-8" y="0"/>
                    </Anchors>
                    <TexCoords left="0" right="0.0625" top="0.875" bottom="1"/>
                </Texture>
                <FontString parentKey="ValueText" inherits="DUIFont_Quest_Quest" justifyH="LEFT" justifyV="MIDDLE" text="Value" maxLines="1">
                    <Anchors>
                        <Anchor point="LEFT" relativeKey="$parent" relativePoint="LEFT" x="8" y="0"/>
                        <Anchor point="RIGHT" relativeKey="$parent.Arrow" relativePoint="LEFT" x="-10" y="0"/>
                    </Anchors>
                </FontString>
            </Layer>
        </Layers>
        <Scripts>
            <OnEnter method="OnEnter"/>
            <OnLeave method="OnLeave"/>
            <OnClick method="OnClick"/>
        </Scripts>
    </Button>

    <Button name="DUIDialogSettingsOptionTemplate" mixin="DUIDialogSettingsOptionMixin" virtual="true">
        <Size x="360" y="36"/>
        <Layers>
            <Layer level="OVERLAY">
                <FontString parentKey="Label" inherits="DUIFont_Quest_Paragraph" justifyH="LEFT" justifyV="MIDDLE">
                    <Anchors>
                        <Anchor point="LEFT" relativeKey="$parent" relativePoint="LEFT" x="12" y="0"/>
                    </Anchors>
                </FontString>
            </Layer>
        </Layers>
        <Scripts>
            <OnEnter method="OnEnter"/>
            <OnLeave method="OnLeave"/>
            <OnClick method="OnClick"/>
        </Scripts>
    </Button>

    <Button name="DUIDialogSettingsKeybindingTemplate" mixin="DUIDialogSettingsKeybindingMixin" registerForClicks="LeftButtonUp, RightButtonUp" virtual="true">
        <Size x="144" y="24"/>
        <HitRectInsets>
            <AbsInset left="0" right="0" top="-4" bottom="-4"/>
        </HitRectInsets>
        <Layers>
            <Layer level="ARTWORK" textureSubLevel="2">
                <Texture parentKey="Background">
                    <TexCoords left="0" right="0.75" top="0" bottom="0.125"/>
                </Texture>
            </Layer>
            <Layer level="OVERLAY">
                <FontString parentKey="ValueText" inherits="DUIFont_Quest_SubHeader" justifyH="CENTER" justifyV="MIDDLE" text="Unbound" maxLines="1">
                    <Size x="120"/>
                    <Anchors>
                        <Anchor point="CENTER" relativeKey="$parent" relativePoint="CENTER" x="0" y="2"/>
                    </Anchors>
                </FontString>
            </Layer>
        </Layers>
        <Scripts>
            <OnLoad method="OnLoad"/>
            <OnEnter method="OnEnter"/>
            <OnLeave method="OnLeave"/>
            <OnClick method="OnClick"/>
            <OnMouseDown method="OnMouseDown"/>
            <OnMouseUp method="OnMouseUp"/>
        </Scripts>
    </Button>

    <Frame name="DUIDialogSettings" mixin="DUIDialogSettingsMixin" enableMouse="true" frameStrata="DIALOG" hidden="true" topLevel="true" clampedToScreen="true" movable="true" dontSavePosition="true">
        <Size x="400" y="300"/>
        <Anchors>
            <Anchor point="CENTER"/>
        </Anchors>
        <Layers>
            <Layer level="BACKGROUND" textureSubLevel="1">
                <Texture parentKey="BackgroundDecor">
                    <Anchors>
                        <Anchor point="BOTTOMRIGHT" relativeKey="$parent" relativePoint="BOTTOMRIGHT" x="-4" y="4"/>
                    </Anchors>
                </Texture>
                <MaskTexture parentKey="DecorMask" file="Interface/AddOns/DialogueUI/Art/Theme_Shared/Mask-SettingsDecor" hWrapMode="CLAMP" vWrapMode="CLAMP">
                    <MaskedTextures>
                        <MaskedTexture childKey="BackgroundDecor"/>
                    </MaskedTextures>
                </MaskTexture>
            </Layer>
            <Layer level="BORDER">
                <Texture parentKey="HeaderDivider">
                    <Size y="9"/>
                    <TextureSliceMode mode="Tiled"/>
                    <TextureSliceMargins left="32" right="32" top="8" bottom="4"/>
                </Texture>

                <Texture parentKey="VerticalDivider">
                    <Size x="9"/>
                    <TextureSliceMode mode="Tiled"/>
                    <TextureSliceMargins left="8" right="4" top="32" bottom="32"/>
                </Texture>
            </Layer>
            <Layer level="OVERLAY">
                <Texture parentKey="Preview"/>
                <FontString parentKey="Description" inherits="DUIFont_Quest_Paragraph" justifyH="LEFT" justifyV="TOP" spacing="4"/>
            </Layer>
            <Layer level="OVERLAY" textureSubLevel="2">
                <Texture parentKey="PreviewBorder" hidden="true">
                    <Anchors>
                        <Anchor point="TOPLEFT" relativeKey="$parent.Preview" relativePoint="TOPLEFT" x="-1" y="1"/>
                        <Anchor point="BOTTOMRIGHT" relativeKey="$parent.Preview" relativePoint="BOTTOMRIGHT" x="1" y="-1"/>
                    </Anchors>
                    <TextureSliceMode mode="Tiled"/>
                    <TextureSliceMargins left="8" right="8" top="8" bottom="8"/>
                </Texture>
            </Layer>
        </Layers>
        <Frames>
            <Frame parentKey="BackgroundFrame" inherits="DUIGenericTitledFrameTemplate"/>
            <Frame parentKey="Header" enableMouse="true">
                <Layers>
                    <Layer level="BACKGROUND" textureSubLevel="5">
                        <Texture parentKey="Selection" hidden="true">
                            <TextureSliceMode mode="Tiled"/>
                            <TextureSliceMargins left="16" right="16" top="16" bottom="16"/>
                        </Texture>
                    </Layer>
                </Layers>
                <Frames>
                    <Frame parentKey="Container" setAllPoints="true"/>
                    <Button parentKey="CloseButton">
                        <Layers>
                            <Layer level="BACKGROUND" textureSubLevel="5">
                                <Texture parentKey="Background">
                                    <TextureSliceMode mode="Tiled"/>
                                    <TextureSliceMargins left="16" right="16" top="16" bottom="16"/>
                                </Texture>
                            </Layer>
                            <Layer level="ARTWORK">
                                <Texture parentKey="Highlight" hidden="true">
                                    <TextureSliceMode mode="Tiled"/>
                                    <TextureSliceMargins left="16" right="16" top="16" bottom="16"/>
                                </Texture>
                            </Layer>
                            <Layer level="OVERLAY">
                                <Texture parentKey="Icon">
                                    <Size x="12" y="12"/>
                                    <Anchors>
                                        <Anchor point="CENTER"/>
                                    </Anchors>
                                </Texture>
                            </Layer>
                        </Layers>
                    </Button>
                </Frames>
            </Frame>
            <Frame parentKey="ButtonHighlight" hidden="true" useParentLevel="true">
                <Size x="32" y="32"/>
                <Layers>
                    <Layer level="BACKGROUND" textureSubLevel="1">
                        <Texture parentKey="BackTexture" setAllPoints="true">
                            <TextureSliceMode mode="Tiled"/>
                            <TextureSliceMargins left="24" right="24" top="24" bottom="24"/>
                        </Texture>
                    </Layer>
                </Layers>
            </Frame>
            <Frame parentKey="ScrollFrame" clipChildren="true">
                <Frames>
                    <Frame parentKey="Reference">
                        <Size x="4" y="4"/>
                        <Anchors>
                            <Anchor point="TOPLEFT" relativeKey="$parent" relativePoint="TOPLEFT"/>
                        </Anchors>
                    </Frame>
                </Frames>
            </Frame>
        </Frames>
        <KeyValues>
            <KeyValue key="nodeignore" value="true" type="boolean"/>
        </KeyValues>
        <Scripts>
            <OnLoad method="OnLoad"/>
            <OnShow method="OnShow_First"/>
            <OnHide method="OnHide"/>
            <OnEvent method="OnEvent"/>
            <OnKeyDown method="OnKeyDown"/>
            <OnGamePadButtonDown method="OnGamePadButtonDown"/>
            <OnMouseWheel method="OnMouseWheel"/>
        </Scripts>
    </Frame>
</Ui>